# PyCharm project files
.idea

# Alan Wake file formats
*.rmdp
*.bin
*.resources
*.collisions
*.binmsh
*.binhkx
*.bingrs
*.binhvk
*.bincloth
*.obj
*.packmeta
*.tex
*.meta

# Output formats
*.fxo
*.xml